<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConnectUnimar - Mapa Comportamental</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <h2>Unimar Connect</h2>
            </div>
            <ul class="nav-links">
                <li><a href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Trilha da Evolucao</a></li>
        </nav>
    </header>

    <div class="container mt-5">
        <!-- Card de Perfil -->
        <div class="card shadow-sm mb-4">
            <div class="card-header bg-primary text-white">
                <p class="mb-0">Perfil</p>
            </div>
            <div class="card-body">
                <p><strong>Nome:</strong> {{ perfil.nome }}</p>
                <p><strong>Idade:</strong> {{ perfil.idade }} anos</p>
                <p><strong>Cargo Atual:</strong> {{ perfil.cargo_atual }}</p>
                <p><strong>Anos de Experiência:</strong> {{ perfil.anos_experiencia }}</p>
            </div>
        </div>
        <h1>Mapa comportamental</h1>
        <form id="userForm">
            <div class="hide">
                <input type="hidden" name="perfil_nome" value="{{ perfil.nome }}">
                <input type="hidden" name="perfil_idade" value="{{ perfil.idade }}">
                <input type="hidden" name="perfil_cargo" value="{{ perfil.cargo_atual }}">
                <input type="hidden" name="perfil_anos" value="{{ perfil.anos_experiencia }}">
            </div>
            <!-- Interesses -->
            <h4 class="mt-4">Interesses (0 a 5)</h4>
            <div class="mb-3"><label class="form-label">Gestão</label><input type="number" class="form-control"
                    name="interesses_gestao" min="0" max="5"></div>
            <div class="mb-3"><label class="form-label">Marketing</label><input type="number" class="form-control"
                    name="interesses_marketing" min="0" max="5"></div>
            <div class="mb-3"><label class="form-label">Finanças</label><input type="number" class="form-control"
                    name="interesses_financas" min="0" max="5"></div>
            <div class="mb-3"><label class="form-label">Tecnologia</label><input type="number" class="form-control"
                    name="interesses_tecnologia" min="0" max="5"></div>
            <div class="mb-3"><label class="form-label">Vendas</label><input type="number" class="form-control"
                    name="interesses_vendas" min="0" max="5"></div>
            <div class="mb-3"><label class="form-label">Inovação</label><input type="number" class="form-control"
                    name="interesses_inovacao" min="0" max="5"></div>
            <div class="mb-3"><label class="form-label">RH</label><input type="number" class="form-control"
                    name="interesses_rh" min="0" max="5"></div>
            <div class="mb-3"><label class="form-label">Estratégia</label><input type="number" class="form-control"
                    name="interesses_estrategia" min="0" max="5"></div>
            <div class="mb-3"><label class="form-label">Operações</label><input type="number" class="form-control"
                    name="interesses_operacoes" min="0" max="5"></div>

            <!-- Habilidades -->
            <h4 class="mt-4">Habilidades (0 a 5)</h4>
            <div class="mb-3"><label class="form-label">Liderança</label><input type="number" class="form-control"
                    name="habilidades_lideranca" min="0" max="5"></div>
            <div class="mb-3"><label class="form-label">Negociação</label><input type="number" class="form-control"
                    name="habilidades_negociacao" min="0" max="5"></div>
            <div class="mb-3"><label class="form-label">Análise de Dados</label><input type="number"
                    class="form-control" name="habilidades_analise_dados" min="0" max="5"></div>
            <div class="mb-3"><label class="form-label">Criatividade</label><input type="number" class="form-control"
                    name="habilidades_criatividade" min="0" max="5"></div>
            <div class="mb-3"><label class="form-label">Organização</label><input type="number" class="form-control"
                    name="habilidades_organizacao" min="0" max="5"></div>
            <div class="mb-3"><label class="form-label">Atendimento ao Cliente</label><input type="number"
                    class="form-control" name="habilidades_atendimento_cliente" min="0" max="5"></div>
            <div class="mb-3"><label class="form-label">Planejamento</label><input type="number" class="form-control"
                    name="habilidades_planejamento" min="0" max="5"></div>

            <button type="button" id="submitButton" class="btn btn-primary mt-4">Enviar</button>
        </form>
    </div>
    <script>
        const perfil = {{ perfil|tojson }};
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>